---
import Layout from '../../components/Layout.astro';
---
<Layout title="Destinations – Luxia Travel">
  <h1>Destinations</h1>
  <p>Browse our curated set of places designed for ease and elegance.</p>
</Layout>
