---
import Layout from '../../components/Layout.astro';
---
<Layout title="About – Luxia Travel">
  <h1>About</h1>
  <p>We craft calm, elegant, modern travel experiences with an editorial eye.</p>
</Layout>
